body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial;
}

header {
    width: auto;
    height: 90px;
    background-color: #113946;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

header > p {
    color: #EAD7BB;
    font-size: 32px;
    font-weight: 600;
}

#menu-buttons {
    display: flex;
    gap: 32px;
}

#menu-buttons > a > button {
    padding: 10px 20px;
    background-color: #BCA37F;
    border-radius: 12px;
    color: black;
}

#menu-buttons > a {
    text-decoration: none;
    font-weight: 600;
}

main {
    width: auto;
    height: auto;
    /* background-color: #FFF2D8; */
    background-size: 100%;
    background-image: linear-gradient(30deg, rgba(255,242,216,1) 0%, rgba(255,242,216,1) 34%, rgba(255,170,0,1) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 0;
    background-color: #EAD7BB;
    padding: 30px;
    width: 60%;
}

footer {
    width: auto;
    height: auto;
    font-size: 12px;
    background-color: #113946;
    text-align: center;
    color: white;
}

header,
footer {
    padding: 0 30px;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

img {
    width: 400px;
    height: auto;
}

@media only screen and (max-width: 900px) {
    section {
        width: 80%;
        padding: 10px;
    }

    #menu-buttons {
        display: flex;
        gap: 16px;
    }

    #menu-buttons > button {
        padding: 5px 10px;
        background-color: #BCA37F;
    }

    header,
    footer {
        padding: 0 15px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    img {
        width: 100%;
        height: auto;
    }
  }