body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Courier;
    color: #FFF6E0;
}

header {
    width: 100%;
    background-color: #272829;
    display: flex;
    flex-direction: column;
    gap: 0px;

    align-items: center;
    justify-content: center;
}

header > p {
    font-size: 32px;
    font-weight: 600;
    margin: 16px;
}

#menu-buttons {
    width: 100%;
    display: flex;
}

#menu-buttons > a > button {
    width: 100%;
    padding: 10px 20px;
    background-color: #272829;
    color: #FFF6E0;
}

#menu-buttons > a {
    flex: 1;
    text-decoration: none;
    font-weight: 600;
}

main {
    width: auto;
    height: auto;
    background-color: #D8D9DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    background-image: linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(216,217,218,1) 34%, rgba(62,62,62,1) 100%);
}

section {
    margin: 0;
    background-color: #61677A;
    padding: 30px;
    width: 70%;
}

article {
    display: grid;
    /* grid-template-areas: 
                        "h2 h2"
                        "list img"
                        "preparation preparation"; */
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

img {
    grid-column: 2;
}

.list {
    grid-column: 1;
    grid-row: 2;
}

.list > h3 {
    text-align: center;
}

.preparation {
    grid-column: 1 / span 2;
}

.preparation > h3 {
    text-align: center;
}

.preparation > p {
    text-align: center;
}

article > h2 {
    text-align: center;
    grid-column: 1 / span 2;
}

ul > li {
    list-style-type: square;
}

footer {
    width: auto;
    height: auto;
    font-size: 12px;
    background-color: #272829;
    color: #FFF6E0;
}

footer {
    padding: 0 30px;
}

h1 {
    font-size: 64px;
    text-align: center;
    font-style: italic;
}

h2 {
    font-size: 48px;
    font-style: italic;
}

h3 {
    font-size: 32px;    
    font-style: italic;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 900px) {
    section {
        width: auto;
        /* padding: 10px; */
    }

    article {
        display: flex;
        flex-direction: column;
    }
    
    .preparation > h3 {
        text-align: center;
    }
    
    article > h2 {
        text-align: center;
    }

    footer {
        padding: 0 15px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    img {
        width: 100%;
        height: auto;
    }
  }